.wrapper {
  max-width: 600px;
  margin: 50px auto;
  height: 300px;
  background-color: whitesmoke;
  box-shadow: 12px 12px 2px 1px rgba(18, 18, 34, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-left: 1px solid rgba(18, 18, 34, 0.2);
  border-top: 1px solid rgba(18, 18, 34, 0.2);
}
